In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [3]:
file_path='./chipotle.csv'

In [5]:
chipo=pd.read_csv(file_path)
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [6]:
# 불필요한 컬럼 삭제
# inplace=True: 해당 변화를 즉각적으로 해당 DataFrame에 반영하겠다는 의미
chipo.drop(['order_id', 'item_price'], axis='columns', inplace=True)
chipo

,quantity,item_name,choice_description
0,1,Chips and Fresh Tomato Salsa,NaN
1,1,Izze,[Clementine]
2,1,Nantucket Nectar,[Apple]
3,1,Chips and Tomatillo-Green Chili Salsa,NaN
4,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans..."
...,...,...,...
4617,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ..."
4618,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese..."
4619,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto..."
4620,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu..."
4621,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto..."

In [13]:
chipo['choice_description'].fillna('Origin',inplace=True)
chipo

,quantity,item_name,choice_description
0,1,Chips and Fresh Tomato Salsa,Origin
1,1,Izze,[Clementine]
2,1,Nantucket Nectar,[Apple]
3,1,Chips and Tomatillo-Green Chili Salsa,Origin
4,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans..."
...,...,...,...
4617,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ..."
4618,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese..."
4619,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto..."
4620,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu..."
4621,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto..."

In [24]:
# 대괄호 지우기
num=0
for i in chipo['choice_description']:
    chipo['choice_description'][num]=re.sub(pattern='[^a-zA-Z,]',repl='',string=i)
    #[^a-zA-Z,]은 알파벳과 ',' , 공백을 제외하고 모두 지우겠다는 의미
    num+=1
chipo

<ipython-input-24-324b39c7e8ff>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chipo['choice_description'][num]=re.sub(pattern='[^a-zA-Z,]',repl='',string=i)

,quantity,item_name,choice_description
0,1,Chips and Fresh Tomato Salsa,Origin
1,1,Izze,Clementine
2,1,Nantucket Nectar,Apple
3,1,Chips and Tomatillo-Green Chili Salsa,Origin
4,2,Chicken Bowl,"TomatilloRedChiliSalsaHot,BlackBeans,Rice,Chee..."
...,...,...,...
4617,1,Steak Burrito,"FreshTomatoSalsa,Rice,BlackBeans,SourCream,Che..."
4618,1,Steak Burrito,"FreshTomatoSalsa,Rice,SourCream,Cheese,Lettuce..."
4619,1,Chicken Salad Bowl,"FreshTomatoSalsa,FajitaVegetables,PintoBeans,G..."
4620,1,Chicken Salad Bowl,"FreshTomatoSalsa,FajitaVegetables,Lettuce"
4621,1,Chicken Salad Bowl,"FreshTomatoSalsa,FajitaVegetables,PintoBeans,L..."

In [34]:
chipo['source']='new'
print(chipo['choice_description'][3])

Origin

,quantity,item_name,choice_description,source
0,1,Chips and Fresh Tomato Salsa,Origin,new
1,1,Izze,Clementine,new
2,1,Nantucket Nectar,Apple,new
3,1,Chips and Tomatillo-Green Chili Salsa,Origin,new
4,2,Chicken Bowl,"TomatilloRedChiliSalsaHot,BlackBeans,Rice,Chee...",new
...,...,...,...,...
4617,1,Steak Burrito,"FreshTomatoSalsa,Rice,BlackBeans,SourCream,Che...",new
4618,1,Steak Burrito,"FreshTomatoSalsa,Rice,SourCream,Cheese,Lettuce...",new
4619,1,Chicken Salad Bowl,"FreshTomatoSalsa,FajitaVegetables,PintoBeans,G...",new
4620,1,Chicken Salad Bowl,"FreshTomatoSalsa,FajitaVegetables,Lettuce",new
4621,1,Chicken Salad Bowl,"FreshTomatoSalsa,FajitaVegetables,PintoBeans,L...",new

In [36]:
result_tmp=chipo.groupby(['item_name'])['choice_description'].value_counts()
result_tmp=result_tmp.to_frame()
result_tmp

                                                                      choice_description
item_name         choice_description
6 Pack Soft Drink DietCoke                                                            24
                  Coke                                                                21
                  Sprite                                                               5
                  Lemonade                                                             2
                  Nestea                                                               2
...                                                                                  ...
Veggie Soft Tacos FreshTomatoSalsaMild,BlackBeans,Rice,Cheese,Let...                   1
                  FreshTomatoSalsaMild,PintoBeans,Rice,Cheese,Sou...                   1
                  RoastedChiliCornSalsa,FajitaVegetables,BlackBea...                   1
                  RoastedChiliCornSalsaMedium,BlackBeans,FajitaVe...                   1
                  TomatilloRedChiliSalsa,FajitaVegetables,Rice,Bl...                   1

[1871 rows x 1 columns]

In [37]:
# 엑셀로 파일 저장
file_path="./chipotle_result.csv"
result_tmp.to_csv(file_path,sep=',')